<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h1>Directives</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div [ngClass]="{sq : true}">
        codekul.com
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div [ngStyle]="{'border' : '1px solid blue'}">
        codekul.com
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p> Custom Attribute Directive</p>
    </div>
    <div class="col-md-9">
      <input type="text" [codeResizer] = "1"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p> Custom Attribute Directive</p>
    </div>
    <div class="col-md-9">
      <input type="text" [codeResizer] = "2"/>
    </div>
  </div>
</div>