<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="well">Angular Forms</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="button" value="Template Driven" class="btn btn-primary">
    </div>
    <div class="col-md-6">
      <input type="button" value="Data Driven" class="btn btn-primary pull-right" >
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-template-driven></app-template-driven>
    </div>
  </div>
</div>