<div class="container">
  <form class="form-horizontal" role="form" (ngSubmit)="onSub(myForm)" #myForm="ngForm">
    <h2>Registration Form</h2>
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label">Full Name</label>
      <div class="col-sm-9">

        <input 
          type="text" 
          id="firstName" 
          placeholder="Full Name" 
          class="form-control" 
          autofocus
          name="firstName"
          [(ngModel)]="user.firstName"
          required>

        <span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">

        <input 
          type="email" 
          id="email" 
          placeholder="Email" 
          class="form-control"
          name="email"
          [(ngModel)]="user.email"
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          #eml="ngModel">

          <span class="help-block" *ngIf="!eml.valid">Wrong Email :(</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        
        <input 
          type="password" 
          id="password" 
          placeholder="Password" 
          class="form-control"
          name="password"
          [(ngModel)]="user.password"
          required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3" *ngFor="let con of countries">
        <input 
        type="radio" 
        name="country" 
        [value]="con"
        [(ngModel)]="user.country"> {{con}}
      </div>
    </div>

    <!-- /.form-group -->
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-primary btn-block" [disabled] ="!myForm.valid">Register</button>
      </div>
    </div>
  </form>
  <!-- /form -->
</div>
<!-- ./container -->