<h1>Data Binding</h1>
<hr>
<ul>
  <li>Interpolation</li>
  <li>Property Binding</li>
  <li>Event Binding</li>
  <li>Two way Binding</li>
</ul>

<div>
  <app-third (newData)="thirdInData = $event"></app-third>
</div>
<div>
  <app-interpolation></app-interpolation>
</div>

<div>
  <app-input-binding [backColor]="backColorParent"></app-input-binding>
</div>

<div>
  <!--<app-event-binding (inEv)="onInComingBtnEvent($event)"></app-event-binding>-->

  <app-event-binding [thirdTextData]="thirdInData" (inEv)="backColorParent = $event"></app-event-binding>
</div>

